.optext {
    color: white;
    font-size: 100px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 170px;
    opacity: 0.5;
}

.curoptext {
    color: green;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    width: 30px;
}

.opparamvalue {
    font-size: 12pt;
    font-family: sans-serif;
    color: white;
    text-align: right;
}

.origin0 {
    position: absolute;
    top: 0px;
    left: 0px;
}

body {
	color: #DDDDDD;
	background-color: black;
	font-family: sans-serif;
}

#about a:link {
	color: #DDDDDD;
}

#about a:visited {
	color: #DDDDDD;
}

#share {
	padding: 20px 20px 20px 20px;
	background-color: black;
	opacity: 0.9;
}

.btn {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    display: block;
    background: -moz-linear-gradient(top,#80CCE6,#80CCE6 5%,#09C 5%,#069 95%,#069 95%,#00293D);
    background: -webkit-gradient(linear, left top, left bottom, from(#80CCE6), color-stop(0.05,#80CCE6), color-stop(0.05,#09C), color-stop(0.95,#069), color-stop(0.95,#00293D), to(#00293D));
    border: 1px solid #DDD;
    color: #FFFFFF;
    width: 300px;
    padding: 10px 0;
}

